
@import "bootstrap/scss/bootstrap";
@import "./utils/variables";

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';


:root {
    --theme-default: #7366FF;
    --theme-secondary: #838383;
    --light-background: rgba(242, 243, 247, 0.7);
    --body-font-color: #2F2F3B;
    --chart-border: #ECF3FA;
    --recent-chart-bg: #FCFCFD;
    --light-bg: #EEF1F6;
    --white: #fff;
    --light2: #F5F6F9;
    --sidebar-border: rgba(0, 0, 0, 0.1);
    --chart-text-color: rgba(82, 82, 108, 0.8);
    --recent-dashed-border: rgba(82, 82, 108, 0.3);
    --chart-dashed-border: rgba(82, 82, 108, 0.2);
    --chart-progress-light: rgba(82, 82, 108, 0.1);
    --recent-box-bg: #F2F4F7;
    --recent-border: rgba(97, 101, 122, 0.25);
    --course-light-btn: #F2F3F7;
    --course-bg: #F7F7F7;
    --balance-profile-bg: #E0DFEF;
    --view-grid-bg: #ECF3FA80;
    --view-border-marker: #cfcdfc;
    --light-slate: #F5F6F9;
    --product-shadow: 0px 1px 0px rgba(82, 82, 108, 0.15);
    --light-shade-primary: rgba(245, 244, 255);
    --rgb-primary: rgb(115, 102, 255);
    --f-lighter: #7f8183;
    --light-datatable-odd: #F5F6FA;
    --dark-light-color: rgba(10, 10, 10, 0.5);
    --lighter-gray: rgba(33, 37, 41, 0.75);

    // Charts color
    --primary-70: rgba(115, 102, 255, 0.7);
    --warning-70: rgba(255, 169, 65, 0.7);
    --success-70: rgba(84, 186, 74, 0.7);

    --fc-button-bg-color: var(--theme-default);
    --fc-button-active-bg-color: var(--theme-default);
    --fc-button-active-border-color: var(--theme-default);
    --fc-button-border-color: var(--theme-default);
    --fc-button-hover-bg-color: var(--theme-default);
    --fc-button-hover-border-color: var(--theme-default);

    // rating 
    --normal: #ECEAF3;
    --normal-shadow: #D9D8E3;
    --normal-mouth: #9795A4;
    --normal-eye: #595861;
    --active: #F8DA69;
    --active-shadow: #F4B555;
    --active-mouth: #F05136;
    --active-eye: #313036;
    --active-tear: #76b5e7;
    --active-shadow-angry: #e94f1d;

    // Bootstrap colors
    --bs-emphasis-color-rgb: rgba(242, 243, 247, 0.7);
    --bs-border-color: #e9edf1;
    --bs-table-bg: var(--bs-emphasis-color-rgb);
    --bs-heading-color: #333333;

    // Tagify
    /* Do not show the "remove tag" (x) button when only a single tag remains */
    .customLook {
        --tag-bg: var(--theme-default);
        --tag-hover: var(--theme-secondary);
        --tag-text-color: var(--white);
        --tags-border-color: silver;
        --tag-border-radius: 25px;
        --tag-text-color--edit: #111;
        --tag-remove-bg: var(--tag-hover);
        --tag-pad: .6em 1em;
        --tag-inset-shadow-size: 1.35em;
        --tag-remove-btn-bg--hover: #000;
        --tagify-dd-color-primary: var(var(--theme-default));
        --tagify-dd-bg-color: var(--course-light-btn);
    }

    // tables
    .table {
        --bs-table-color-state: initial;
        --bs-body-bg: auto;

        &.table-inverse {
            --bs-table-bg: #292b2c;
        }

        &.table-striped {
            &.bg-primary {
                --bs-table-bg: unset;
            }
        }
    }
}

.dark-only {
    --light-background: rgba(31, 32, 40, 0.65);
    --recent-chart-bg: #262932;
    --light-bg: #1d1e26;
    --white: #262932;
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --light2: #1d1e26;
    --chart-border: #374558;
    --recent-box-bg: #1d1e26;
    --recent-border: #374558;
    --body-font-color: rgba(255, 255, 255, 0.6);
    --chart-text-color: rgba(101, 101, 113, 1);
    --chart-dashed-border: rgba(135, 135, 136, 0.2);
    --chart-progress-light: #202128;
    --course-light-btn: var(--light-bg);
    --course-bg: rgba(31, 32, 40, 0.65);
    --view-grid-bg: var(--light-bg);
    --view-border-marker: #2c2c45d4;
    --light-slate: #1c1d26;
    --light-datatable-odd: #191e27;
    --product-shadow: 0px 1px 0px rgb(55 70 87);
    --light-shade-primary: rgba(46, 53, 67, 1);
    --light-gray-1: linear-gradient(0deg, #FCFCFD, #FCFCFD),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    --bs-body-bg: rgba(255, 255, 255, 0.6);
    --bs-table-bg: transparent;
    --light-bg-primary: rgba(239, 238, 255);
    --lighter-gray: rgba(255, 255, 255, 0.2);

    // Bootstrap
    --bs-heading-color: rgba(255, 255, 255, 0.7);
    --bs-emphasis-color-rgb: var(--light-background);
    --bs-border-color: var(--recent-chart-bg);

    .table {
        &.table-inverse {
            --bs-table-bg: #1f2533;
        }

        &.table-striped {
            &.bg-primary {
                --bs-table-bg: unset;
            }
        }
    }
}

// *** Utils ***
@import "utils/mixin";


// *** base ***
@import "base/reset";
@import "base/typography";

//  *** components ***
@import "components/according";
@import "components/alert";
@import "components/avatars";
@import "components/badge";
@import "components/bookmark";
@import "components/breadcrumb";
@import "components/basic-card";
@import "components/buttons";
@import "components/block-ui";
@import "components/card";
@import "components/datatable";
@import "components/datepicker";
@import "components/dropdown";
@import "components/form-input";
@import "components/form-wizard";
@import "components/forms";
@import "components/icons";
@import "components/list";
@import "components/loader";
@import "components/modal";
@import "components/popover";
@import "components/print";
@import "components/radio";
@import "components/ribbon";
@import "components/range-slider";
@import "components/switch";
@import "components/tab";
@import "components/table";
@import "components/toasts";
@import "components/touchspin";
@import "components/tour";
@import "components/tree";
@import "components/typeahead-search";
@import "components/scrollbar";

//	*** pages ***

@import "pages/add-product";
@import "pages/blog";
@import "pages/bookmark-app";
@import "pages/cart";
@import "pages/chart";
@import "pages/chat";
@import "pages/checkout";
@import "pages/comingsoon";
@import "pages/contacts";
@import "pages/dashboard_2";
@import "pages/dashboard_3";
@import "pages/dashboard_4";
@import "pages/dashboard_5";
@import "pages/dashboard_6";
@import "pages/dashboard_7";
@import "pages/dashboard_8";
@import "pages/dashboard_9";
@import "pages/dashboard_10";
@import "pages/dashboard_11";
@import "pages/dashboard_12";
@import "pages/dashboard_13";
@import "pages/dashboard_default";
@import "pages/divider";
@import "pages/flash_icons";
@import "pages/ecommerce";
@import "pages/email-application";
@import "pages/mail_box";
@import "pages/errorpage";
@import "pages/faq";
@import "pages/file";
@import "pages/file-manager";
@import "pages/gallery";
@import "pages/helper";
@import "pages/internationalization";
@import "pages/invoice";
@import "pages/job-search";
@import "pages/jsgrid";
@import "pages/editors";
@import "pages/kanban";
@import "pages/knowledgebase";
@import "pages/landing";
@import "pages/language";
@import "pages/learning";
@import "pages/login";
@import "pages/megaoption";
@import "pages/manage-reviews";
@import "pages/navigate-links";
@import "pages/order-history";
@import "pages/offcanvas";
@import "pages/page";
@import "pages/pricing";
@import "pages/progress";
@import "pages/projectlist";
@import "pages/placeholders";
@import "pages/rating";
@import "pages/roles-permission";
@import "pages/reports";
@import "pages/social-app";
@import "pages/scrollspy";
@import "pages/sweet-alert";
@import 'pages/sellers';
@import 'pages/settings';
@import "pages/task";
@import "pages/timeline-v";
@import "pages/user-profile";
@import "pages/wishlist";

// *** layout *** 

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navs";
@import "layout/search";
@import "layout/select2";
@import "layout/sidebar";
@import "layout/rtl";
@import "layout/box-layout";

/* ---------------------
	*** themes ***
-----------------------*/

@import "themes/theme-customizer";
@import "themes/update";
@import "themes/dark";